apiVersion: batch/v1
kind: Job
metadata:
  name: omphalos-run
spec:
  template:
    spec:
      containers:
        - name: omphalos
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "2"
              memory: "2Gi"
